<template>
<div id="analytics"></div>
</template>

<script>
import Highcharts from 'highcharts'
export default {
  name: "analytics",
  mounted() {
    this.getChart()
  },
  methods: {
    getChart(){
      new Highcharts.chart('analytics', {

      })
    }
  }

}
</script>

<style scoped>

</style>
