<template>
  <div class="endOrder">
    <div
      v-if="modalIsActive"
      @click="modalIsActive = false"
      class="modal-background"
    ></div>
    <div v-if="modalIsActive" class="sms-message-modal">
      <h3 class="sms-message">СМС:</h3>
      <input type="text" class="sms-message-input" placeholder="Введите смс" />
      <div @click="modalIsActive = false" class="back">back</div>
    </div>
    <div class="endOrderHead">
      <h3>Доставка товара до пункта назначения</h3>
      <div class="orderId">
        <p>#1231</p>
      </div>
    </div>

    <div class="">
      <div class="order-location">
        <p>откуда: <span>Алматы</span></p>
        <p>куда: <span>Нур-Султан</span></p>
      </div>

      <div class="order-end-footer">
        <div>
          <div class="address">
            <p>Адрес получателя:<span> ул.Кошкарбаева-21/1 кв.56</span></p>
          </div>
          <div class="phone-number">
            Номер заказчика: <span>+7 777 666 55 44</span>
          </div>
        </div>
        <div>
          <button @click="modalIsActive = true" class="order-end-button">
            Выдача заказа
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'courierEndCycle',
  data() {
    return {
      orderId: 14235,
      from: 'Nur-Sultan',
      to: 'Almaty',
      modalIsActive: false,
    };
  },
};
</script>

<style scoped>
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

span {
  font-weight: bold;
}

.endOrderHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.orderId p {
  font-weight: bold;
  font-size: 17px;
}

.endOrder {
  background-color: #dbdaea;
  width: 50%;
  margin: 0 auto;
  text-align: start;
  padding: 25px;
  border-radius: 30px;
}

.order-location {
  margin-bottom: 20px;
}

.address {
  margin-bottom: 20px;
}

.order-end-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-end-button {
  padding: 10px 24px;
  border-radius: 10px;
  background-color: #7bc07d;
  color: #fff;
  border: none;

  transition: background-color 0.2s ease-in-out;
}

.order-end-button:hover {
  background-color: #4caf50;
  cursor: pointer;
}

.sms-message-modal {
  position: fixed;
  width: 400px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -200px;
  z-index: 1000;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.sms-message {
  margin-bottom: 10px;
  color: #4caf50;
}

.sms-message-input {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #dbdaea;
  transition: border 0.4s ease-in-out;
}

.sms-message-input:hover {
  border: 1px solid #000;
}

.back {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .order-end-footer {
    flex-direction: column;
  }
  .order-end-button {
    margin-top: 20px;
  }
}
@media (max-width: 426px) {
  .sms-message-modal {
    width: 240px;
    height: 90px;
    margin-top: -45px;
    margin-left: -120px;
  }
  span {
    display: block;
  }
  h3 {
    font-size: 14px;
    padding-left: 4px;
  }
}
</style>
