<template>
  <div class="deliver-page">
    <div class="orders">
      <div class="order-title"><h1>Orders:</h1></div>
      <div class="order-list">
        <div class="order">
          <div class="order-head">
            <div class="customer-name">{{ userName }}</div>
            <div class="order-time">
              <div class="time">{{ date }}</div>
            </div>
          </div>
          <p class="order-id">#{{ orderId }}</p>
          <div class="order-location">
            <div>
              откуда <span>{{ from }}</span>
            </div>
            <div>
              куда <span>{{ to }}</span>
            </div>
          </div>
          <div class="order-footer">
            <div class="order-weight">
              Вес: <span>{{ weight }}кг</span>
            </div>
            <div class="order-price">
              Цена: <span>{{ price }}₸</span>
            </div>
          </div>
        </div>
        <div class="order">
          <div class="order-head">
            <div class="customer-name">{{ userName }}</div>
            <div class="order-time">
              <div class="time">{{ date }}</div>
            </div>
          </div>
          <p class="order-id">#{{ orderId }}</p>
          <div class="order-location">
            <div>
              откуда <span>{{ from }}</span>
            </div>
            <div>
              куда <span>{{ to }}</span>
            </div>
          </div>
          <div class="order-footer">
            <div class="order-weight">
              Вес: <span>{{ weight }}кг</span>
            </div>
            <div class="order-price">
              Цена: <span>{{ price }}₸</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="successful-orders">
      <h1>Successful</h1>
    </div>
    <div class="canceled-orders">
      <h1>Canceled</h1>
    </div>
  </div>
</template>

<script>
import moment from 'moment';
moment.lang('ru');
export default {
  name: 'deliverPage',
  data() {
    return {
      date: moment().format('LLLL'),
      userId: 1,
      userName: 'Алмас Ашим',
      orderId: 1,
      from: 'Nur-Sultan',
      to: 'Almaty',
      weight: 1.2,
      price: 1250,
    };
  },
  methods: {
    moment() {
      return moment();
    },
  },
};
</script>

<style scoped>
span {
  font-weight: bold;
}

.deliver-page {
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
}

/* order-title */

.order-title {
  margin-bottom: 20px;
}

.order-list {
  width: 500px;
  border-radius: 30px;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: #dbdaea;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.order {
  width: 80%;
  height: 150px;
  margin-left: 8px;
  margin-top: 20px;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-head span {
  font-size: 14px;
  font-weight: 600;
}

.customer-name {
  font-size: 14px;
  color: grey;
}

.order-time {
  color: rgb(0, 0, 0);
  text-align: end;
}

.order-id {
  font-size: 18px;
  font-weight: 600;
  color: #716bc0;
}

.time {
  margin-bottom: 2px;
  font-size: 14px;
  color: grey;
}

.order-location {
  font-weight: 500;
  font-size: 14px;
}

.order-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.order-price span {
  font-size: 14px;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 10px 0 0 0;
}
</style>
