<template>
  <div class="home">
    <img alt="QMarket logo" src="https://qmarket.qoldau.kz/Theme/ui-packages/project-theme/Images/banner-selitra.png">
    <div style="text-align: center">
    <search-home class="search-home"></search-home>
    </div>

    <div class="products">
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
      <product-item-component></product-item-component>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import searchHome from '../components/search'
import productItemComponent from "@/components/product-item-component";

export default {
  name: 'HomeView',
  components: {
    searchHome,
    productItemComponent
  }
}
</script>

<style lang="scss" scoped>
  img{
    display: flex;
    width: 90%;
    margin: 40px auto;
  }
  .search-home{
    margin: 0 auto;
  }
  .products{
    padding: 20px 40px;
    flex-wrap: wrap;
  }
</style>
