<template>
<div class="confirm">
  <basket-registrations>
    <product-item></product-item>
    <product-item></product-item>
    <product-item></product-item>
    <product-item></product-item>
    <product-item></product-item>
  </basket-registrations>
  <div class="form-and-accept">

  </div>
</div>
</template>

<script>
import BasketRegistrations from "@/components/basket";
import ProductItem from "@/components/product-item";
export default {
  name: 'registration-order',
  components: {
    BasketRegistrations,
    ProductItem
  }
}
</script>

<style scoped>

</style>

