<template>
<div class="basket">
  <div class="products">
    <slot></slot>
  </div>
  <div class="form">
    <el-form :model="form" size="small" label-position="right">
      <el-form-item label="Имя" prop="name" :rules="[{required: true, message: 'Это поле обязательна'}]">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="Выберите город" prop="location" :rules="[{required: true, message: 'Это поле обязательно'}]">
        <el-select
            v-model="form.location"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="remoteMethod"
            :loading="loading">
          <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <el-button type="primary">Оформить</el-button>
  </div>
</div>
</template>

<script>
import {apiClient} from "@/services/apiClient";

export default {
  name: "basket-registrations",
    data() {
      return {
        form: {
          name: null
        }
      }
    },
  methods: {
    async remoteSearch(query) {
      this.options = await apiClient.get('/search', {
        params: {
          query: query
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.basket{
  display: flex;
background-color: #fff;
  width: 80%;
  height: 500px;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 3px;
  .products{
    width: 80%;
    overflow-y: scroll;
    padding: 10px 0;
    border: 1px solid #eee;
  }

  .form{
    padding: 5px 10px;
    flex-grow: 1;
    border: 1px solid #eee;
    border-left: none !important;
  }
}
</style>
