<template>
  <div class="header">
    <div class="left">
      <img class="logo" src="https://qmarket.qoldau.kz/Theme/ui-packages/project-theme/logo/logo-full.svg" alt="">
    </div>
    <div class="right">
      <el-dropdown style="margin-right: 20px;">
        <span class="el-dropdown-link">
          RUS<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>ENG</el-dropdown-item>
                <el-dropdown-item>KAZ</el-dropdown-item>
              </el-dropdown-menu>
      </el-dropdown>
      <span>Войти</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "navbar-app"
}
</script>

<style lang="scss" scoped>
.header{
  display: flex;
  padding: 0 40px;
  flex-grow: 1;
  justify-content: space-between;
  font-size: 14px;
  background-color: #fff;
  .left{
    .logo{
      width: 150px;
      height: 60px;
    }
  }
  .right{
    display: flex;
    align-items: center;
    padding: 10px 0;
    color: #606266;
  }
}
</style>
