<template>
<div class="product-item">
  <img src="@/assets/Screenshot_4.jpg" alt="">
  <div class="body">
    <p class="title">Текнокель амино микс</p>
    <p class="code">Код товара: 506.10</p>
  </div>
  <div class="footer">
    <p class="price">3333 тг</p>
    <el-button type="warning">Купить</el-button>
  </div>
</div>
</template>

<script>
export default {
  name: "product-item-component"
}
</script>

<style lang="scss" scoped>
.product-item{
  display: inline-block;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 7px rgb(0 0 0 / 8%);
  margin-right: 10px;
  margin-bottom: 10px;
  img{
    width: 200px;
    height: 200px
  }
  .body{
    .code{
      display: inline-block;
      background-color: #fae900a6;
      font-weight: 600;
      padding: 2px 5px;
      border-radius: 3px;
      font-size: 11px;
    }

    margin-bottom: 20px;
  }
  .footer{
    .price{
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  p{
    margin: 0;
    padding: 0;
  }
}
</style>
