<template>
<div class="product-item">
  <img class="image" src="@/assets/Screenshot_4.jpg" alt=""/>
  <div class="body">
    <p class="name">Технокель амино</p>
    <span class="code">Код товара: 0565</span>
    <p class="price">3328 тг</p>
  </div>
  <div class="delete">
    <el-button type="danger" size="mini" icon="el-icon-delete"></el-button>
  </div>
</div>
</template>

<script>
export default {
  name: "product-item"
}
</script>

<style lang="scss" scoped>
.product-item{
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  .image{
    width: 150px;
    height: 150px
  }
  .body{
    .code{
      background-color: #fae900a6;
      font-weight: 600;
      padding: 2px 5px;
      border-radius: 3px;
      font-size: 11px;
    }
    .price{
      font-weight: 500;
    }
  }
  .delete{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
  }
}
</style>
